fastapi
uvicorn
websockets
jinja2
sqlmodel
psycopg2-binary
pandas
dotenv
openai
ta
TA-lib
joblib
ccxt
scikit-learn
asyncpg
bcrypt
cryptography
python-jose
python-multipart
python-dotenv
pydantic
pydantic-settings
pydantic[email]
python-decouple
jwt
requests